 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 749px;
}

.u-section-1 .u-image-1 {
  width: 266px;
  height: 266px;
  margin: 70px auto 0 413px;
}

.u-section-1 .u-form-1 {
  height: 253px;
  width: 570px;
  margin: 38px auto 60px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 274px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 74px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}